.flex {
  display: flex;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-vh-center {
  display: flex;
  /* 水平置中 */
  justify-content: center;
  /* 垂直置中 */
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}
